/* styles/customTable.css */
.custom-table th {
  padding: 16px; /* Adjust padding as needed */
  background-color: #a15ff480; /* Background color for header */
  color: #fcfcfc; /* Text color for header */
  border-radius: 8px; /* Rounded corners */
  font-weight: 700; /* Font weight for header */
  text-align: center; /* Center align text */
}

.custom-table th:not(:last-child) {
  margin-right: 20px; /* Horizontal gap between th elements */
}

/* To ensure the table header cells don't touch each other */
.custom-table thead tr {
  display: flex; /* Use flexbox for spacing */
}
